<div class="col-xs-offset-2 col-xs-10 contact-form">
    <article>
        <header>
            <h1>Login</h1>
        </header>
        <div class="entry-content">
            <div role="form">
                <form action="Community/Login/Success" method="post" enctype="text/plain">
                    <p>
                        <div>
                            <label for="user-name">Username</label>
                        </div>
                        <div>
                            <span><input type="text" name="name" value="" size="40" aria-required="true" placeholder="Your Name"></span>
                        </div>
                    </p>
                    <p>
                        <div>
                            <label for="password">Password</label><br>
                        </div>
                        <div>
                            <span><input name="password" cols="90" rows="10" aria-required="true" placeholder="password" /></span>
                        </div>
                    </p>
                    <p><input type="submit" value="Send"></p>
                </form>
            </div>
        </div>
    </article>
</div>