@model Member
<div class="col-xs-offset-2 col-xs-10 contact-form">
    <article>
        <header>
            <h1>Login</h1>
        </header>
        <div class="entry-content">
            <div role="form">
                <form action="Admin/Login" method="post" enctype="text/plain">
                    <p>
                        <div><span asp-validation-summary="All" class="text-danger"></span></div>
                        <div>
                            <label for="UserName">Username</label>
                        </div>
                        <div>
                            <span><input type="text" size="40" aria-required="true" placeholder="Username"></span>
                        </div>
                    </p>
                    <p>
                        <div>
                            <label for="Password">Password</label><br>
                        </div>
                        <div>
                            <span><input asp-for="Password" cols="90" rows="1" aria-required="true" placeholder="Password" /></span>
                        </div>
                    </p>
                    <p><input type="submit" value="Send"></p>
                </form>
            </div>
        </div>
    </article>
</div>