<div class="col-xs-offset-2 col-xs-10 contact-form">
    <article>
        <header>
            <h1>Sign Up</h1>
        </header>
        <div class="entry-content">
            <div role="form">
                <form action="Community/SignUp/Success" method="post">
                    <p>
                        <label for="first-name">First Name (required)</label><br>
                        <span><input type="text" name="name" value="" size="40" aria-required="true" placeholder="First Name"></span>
                    </p>
                    <p>
                        <label for="last-name">Last Name (required)</label><br>
                        <span><input type="text" name="name" value="" size="40" aria-required="true" placeholder="Last Name"></span>
                    </p>
                    <p>
                        <label for="email">Your Email (required)</label><br>
                        <span><input type="email" name="email" value="" size="40" aria-required="true" placeholder="Your Email"></span>
                    </p>
                    <p>
                        <label for="username">Username</label><br>
                        <span><input type="text" name="subject" value="" size="40" aria-required="true" placeholder="username"></span>
                    </p>
                    <p>
                        <label for="password">Password</label><br>
                        <span><textarea name="message" cols="90" rows="10" aria-required="true" placeholder="password"></textarea></span>
                    </p>
                    <p><input type="submit" value="Send"></p>
                </form>
            </div>
        </div>
    </article>
</div>