
@model Member
<div class="col-xs-offset-2 col-xs-10 contact-form">
    <article>
        <header>
            <h1>Sign Up</h1>
        </header>
        <div class="entry-content">
            <div role="form">
                <form action="Register" method="post">
                    <div><span asp-validation-summary="All" class="text-danger"></span></div>
                    <p>
                        <label asp-for="FirstName">First Name</label><br>
                        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                        <span><input asp-for="FirstName"type="text" size="40"  placeholder="First Name"></span>
                    </p>
                    <p>
                        <label asp-for="LastName">Last Name</label><br>
                        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
                        <span><input asp-for="LastName" type="text" size="40"  placeholder="Last Name"></span>
                    </p>
                    <p>
                        <label asp-for="Email">Your Email</label><br>
                        <div><span asp-validation-for="Email" class="text-danger"></span></div>
                        <span><input asp-for="Email" type="email"  size="40" placeholder="Your Email"></span>
                    </p>
                    <p>
                        <label asp-for="UserName">Username</label><br>
                        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                        <span><input asp-for="UserName" type="text" size="40"  placeholder="username"></span>
                    </p>
                    <p>
                        <label asp-for="Password">Password</label><br>
                        <div><span asp-validation-for="Password" class="text-danger"></span></div>
                        <span><input asp-for="Password" type="text"  placeholder="password"/></span>
                    </p>
                        <input type="hidden" asp-for="Role" value="Member" />
                    <p><input type="submit" value="Send"></p>
                </form>
            </div>
        </div>
    </article>
</div>