
@*TODO 
    - ability to create new blogs
    - ability to create new testimonials*@

@*TODO For Term Project Requirements:
    - Add a video to archived-shows page
    - add authentication*@


<div id="threelinks-home">
    <div id="threelinks-home-inner" class="wrap cf">
        <a href="#" class="blocklink" style="background-image:url(/lib/images/img2.jpg);">
            <div class="titlebar">
                <div class="titlebar-inner">Shows</div>
            </div>
            <div class="arrowbox">
                <i class="fa fa-angle-right"></i>
            </div>
        </a>
        <a href="#" class="blocklink" style="background-image:url(/lib/images/img8.jpg);">
            <div class="titlebar">
                <div class="titlebar-inner">Resume</div>
            </div>
            <div class="arrowbox"><i class="fa fa-angle-right"></i></div>
        </a>  
        <a href="Community/Blog" class="blocklink" style="background-image:url(/lib/images/img9.jpg);">
            <div class="titlebar">
                <div class="titlebar-inner">Blog</div>
            </div>
            <div class="arrowbox"><i class="fa fa-angle-right"></i>
            </div>
        </a>
    </div>
</div>