<!DOCTYPE html>
    <head>
        <meta charset="utf-8">

        <title>Home - Christina Lindsay</title>

        

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <script src="http://www.arballet.org/wp-includes/js/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
        
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%7CCardo%7CPathway+Gothic+One%7CWork+Sans%3A200%2C300%2C400%2C500%2C600%2C700" type="text/css" media="all">
        <link rel="stylesheet" href="//www.arballet.org/wp-content/plugins/a3-lazy-load/assets/css/jquery.lazyloadxt.spinner.css" type="text/css" media="all">
        <link rel="stylesheet" href="//www.arballet.org/wp-content/uploads/sass/a3_lazy_load.min.css" type="text/css" media="all">
        <link rel="stylesheet" href="http://www.arballet.org/wp-content/themes/arballet/library/css/style.css" type="text/css" media="all">
        
        <script type="text/javascript" src="http://www.arballet.org/wp-includes/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-includes/js/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-content/themes/arballet/library/js/libs/modernizr.custom.min.js"></script>

    </head>

    <body class="home page-template page-template-page-home page-template-page-home-php page page-id-9" itemscope="" itemtype="http://schema.org/WebPage" style="position: relative; min-height: 100%; top: 0px;">

        <div id="container" aria-hidden="false">

            <header class="header" role="banner" >

                <div id="inner-header" class="wrap cf">

                    <div id="logo"> <a href="http://www.arballet.org" rel="nofollow"><img src="http://www.arballet.org/wp-content/themes/arballet/library/images/logo.jpg" alt="American Repertory Ballet" class="mobile-only"><img src="http://www.arballet.org/wp-content/themes/arballet/library/images/logo-desktop.jpg" alt="American Repertory Ballet" class="desktop-only"></a></div>
                    
                    
                    <div id="mob-head-wrap" style="padding-bottom: 791px;">
                        <div id="header-nav">
                            <nav role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                                <ul id="menu-main-menu" class="nav top-nav cf">
                                    <li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-200">
                                        <a href="http://www.arballet.org/performances-events/">Performances &amp; Events <i class="fa fa-calendar"></i></a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-266" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-266"><a href="/performances/?prf=yes&amp;op=yes&amp;stm=yes&amp;oe=yes">Event Calendar</a></li>
                                            <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="http://www.arballet.org/school-time-matinees/">School-Time Matinees</a></li>
                                            <li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a href="http://www.arballet.org/on-pointe/">On Pointe</a></li>
                                            <li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264"><a href="http://www.arballet.org/outreach-events/">Outreach Events</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-355">
                                        <a href="http://www.arballet.org/company-overview/">The Company</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-490"><a href="http://www.arballet.org/performances-events/">Upcoming Performances</a></li>
                                            <li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491"><a href="http://www.arballet.org/nutcracker/">Nutcracker</a></li>
                                            <li id="menu-item-492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-492"><a href="http://www.arballet.org/artistic-leadership/">Artistic Leadership</a></li>
                                            <li id="menu-item-493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-493"><a href="http://www.arballet.org/artists-collaborators/">Artists &amp; Collaborators</a></li>
                                            <li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="http://www.arballet.org/dancers/">Dancers</a></li>
                                            <li id="menu-item-871" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-871"><a href="http://www.arballet.org/trainees-apprentices/">Trainees &amp; Apprentices</a></li>
                                            <li id="menu-item-495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-495"><a href="http://www.arballet.org/auditions/">Auditions</a></li>
                                            <li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="http://www.arballet.org/booking/">Booking &amp; Rentals</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-304">
                                        <a href="http://www.arballet.org/princeton-ballet-school/">School</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-342" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-342"><a href="/school-calendar/?cls=yes&amp;sp=yes">School Calendar</a></li>
                                            <li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-341">
                                                <a href="http://www.arballet.org/classes/">Classes</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-552" class="third-level menu-item menu-item-type-post_type menu-item-object-class-division menu-item-552"><a href="http://www.arballet.org/class-division/advanced-division/">Advanced Division</a></li>
                                                    <li id="menu-item-551" class="third-level menu-item menu-item-type-post_type menu-item-object-class-division menu-item-551"><a href="http://www.arballet.org/class-division/childrens-division/">Children’s Division</a></li>
                                                    <li id="menu-item-550" class="third-level menu-item menu-item-type-post_type menu-item-object-class-division menu-item-550"><a href="http://www.arballet.org/class-division/student-division/">Student Division</a></li>
                                                    <li id="menu-item-549" class="third-level menu-item menu-item-type-post_type menu-item-object-class-division menu-item-549"><a href="http://www.arballet.org/class-division/open-enrollment-classes/">Open Enrollment Classes</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-874" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-874"><a href="http://www.arballet.org/faculty/">Faculty</a></li>
                                            <li id="menu-item-497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497"><a href="http://www.arballet.org/summer-program/">Summer Programs</a></li>
                                            <li id="menu-item-498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-498"><a href="http://www.arballet.org/trainee-program/">Trainee Program</a></li>
                                            <li id="menu-item-499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-499"><a href="http://www.arballet.org/arb-workshop/">ARB Workshop</a></li>
                                            <li id="menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-500"><a href="http://www.arballet.org/rider-university/">Rider University</a></li>
                                            <li id="menu-item-501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-501"><a href="http://www.arballet.org/performance-opportunities/">Performance Opportunities</a></li>
                                            <li id="menu-item-502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-502"><a href="http://www.arballet.org/faq/">FAQ</a></li>
                                            <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="http://www.arballet.org/locations-contact/">Locations</a></li>
                                            <li id="menu-item-504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-504"><a href="http://www.arballet.org/notable-alumni/">Notable Alumni</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-543">
                                        <a href="http://www.arballet.org/access-enrichment/">Access &amp; Enrichment</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542"><a href="http://www.arballet.org/mission/">Mission</a></li>
                                            <li id="menu-item-541" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-541"><a href="http://www.arballet.org/dance-power/">Dance Power</a></li>
                                            <li id="menu-item-540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-540"><a href="http://www.arballet.org/access-enrichment-on-pointe/">On Pointe</a></li>
                                            <li id="menu-item-539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-539"><a href="http://www.arballet.org/assemblies-residencies/">Assemblies &amp; Residencies</a></li>
                                            <li id="menu-item-538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="http://www.arballet.org/access-enrichment-school-time-matinees/">School-Time Matinees</a></li>
                                            <li id="menu-item-537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-537"><a href="http://www.arballet.org/performance-guides/">Performance Guides</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-428">
                                        <a href="http://www.arballet.org/history-mission-values/">About Us</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="http://www.arballet.org/locations-contact/">Locations &amp; Contact Information</a></li>
                                            <li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505"><a href="http://www.arballet.org/staff/">Staff</a></li>
                                            <li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506"><a href="http://www.arballet.org/news-media/">News &amp; Media</a></li>
                                            <li id="menu-item-507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507"><a href="http://www.arballet.org/board-of-trustees/">Board of Trustees</a></li>
                                            <li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="http://www.arballet.org/employment-opportunities/">Employment Opportunities</a></li>
                                            <li id="menu-item-509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-509"><a href="http://www.arballet.org/e-club/">E-Club</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-423">
                                        <a href="http://www.arballet.org/ways-to-give/">Support Us</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-510"><a href="http://www.arballet.org/honor-roll/">Honor Roll</a></li>
                                            <li id="menu-item-511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-511"><a href="http://www.arballet.org/special-events/">Signature and Special Events</a></li>
                                            <li id="menu-item-1571" class="menu-item menu-item-type-post_type menu-item-object-event menu-item-1571"><a href="http://www.arballet.org/event/gala/">Gala</a></li>
                                            <li id="menu-item-512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-512"><a href="http://www.arballet.org/get-involved/">Get Involved</a></li>
                                            <li id="menu-item-513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-513"><a href="http://www.arballet.org/locations-contact/">Contact Us</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-only mobile-header-extra">
                            <a href="http://www.arballet.org/locations-contact/" class="mobile-nav-contact">CONTACT US</a>
                            <div class="mobile-search cf">
                                <form role="search" method="get" id="search-form-mobile" action="http://www.arballet.org/"><i class="fa fa-search"></i><input name="s" id="search-mobile" size="15" type="search"><button type="submit" id="mobilesearchsubmit"><i class="fa fa-angle-right"></i></button></form>
                            </div>
                        </div>
                    </div>

                </div>

            </header>
            <style type="text/css">
              #slide-1257 .sp-right, #slide-1257 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/ARB-world-premiere-home.jpg);
                }
                #slide-1257 .sp-left {backround-image:none;}
                #slide-1258 .sp-right, #slide-1258 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/ARB-on-pointe-March-1024x410.jpg);
                }
                #slide-1258 .sp-left {backround-image:none;}
                #slide-1231 .sp-right, #slide-1231 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/ARB-midsummer-nights-dream-1.jpg);
                }
                #slide-1231 .sp-left {backround-image:none;}
                #slide-1261 .sp-right, #slide-1261 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/ARB-Pride-Prejudice_home.jpg);
                }
                #slide-1261 .sp-left {backround-image:none;}
                #slide-1266 .sp-right, #slide-1266 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/ARB-on-pointe-April-1024x410.jpg);
                }
                #slide-1266 .sp-left {backround-image:none;}
                #slide-2226 .sp-right, #slide-2226 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/02/rutday-778x1024.jpg);
                }
                #slide-2226 .sp-left {backround-image:none;}
                #slide-2232 .sp-right, #slide-2232 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/02/2011-04-30_13-58-00_402-1024x577.jpg);
                }
                #slide-2232 .sp-left {backround-image:none;}
                #slide-1268 .sp-right, #slide-1268 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/ARB-on-pointe-May-1024x410.jpg);
                }
                #slide-1268 .sp-left {backround-image:none;}
                #slide-1271 .sp-right, #slide-1271 .superfeature-blur {background-image: url(http://www.arballet.org/wp-content/uploads/2017/01/Princeton-Ballet-School-Sleeping-Beauty-1-1.jpg);
                }
                #slide-1271 .sp-left {backround-image:none;}
            </style>
            <div id="home-superfeature">
                <div id="home-superfeature-inner" class="flexslider">
                    <div id="arb-direction"></div>
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 2200%; transition-duration: 0s; transform: translate3d(-5452px, 0px, 0px);">
                            <li id="slide-1271_clone" class="sf-slide clone" aria-hidden="true" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/sleeping-beauty/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>The Sleeping Beauty</h3><div class="sf-details"><div class="sf-details-item">Performance</div><span class="sf-sep">|</span><div class="sf-details-item">May 20, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/sleeping-beauty/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1257" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/masters-dance-music-2/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Masters of Dance and Music</h3><div class="sf-details"><div class="sf-details-item">Performance</div><span class="sf-sep">|</span><div class="sf-details-item">March 11, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/masters-dance-music-2/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1258" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/pointe-preview-premiere/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Preview of the Premiere</h3><div class="sf-details"><div class="sf-details-item">On Pointe</div><span class="sf-sep">|</span><div class="sf-details-item">March 24, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/pointe-preview-premiere/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1231" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/midsummer-nights-dream/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>A Midsummer Night's Dream</h3><div class="sf-details"><div class="sf-details-item">Performance</div><span class="sf-sep">|</span><div class="sf-details-item">April 1, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/midsummer-nights-dream/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1261" class="sf-slide flex-active-slide" data-thumb-alt="" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/pride-and-prejudice/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Pride and Prejudice</h3><div class="sf-details"><div class="sf-details-item">Performance</div><span class="sf-sep">|</span><div class="sf-details-item">April 21, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/pride-and-prejudice/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1266" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/pointe-dancing-way-college/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Dancing Your Way Into College</h3><div class="sf-details"><div class="sf-details-item">On Pointe</div><span class="sf-sep">|</span><div class="sf-details-item">April 28, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/pointe-dancing-way-college/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-2226" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/rutgers-day/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Rutgers Day</h3><div class="sf-details"><div class="sf-details-item">Outreach Event</div><span class="sf-sep">|</span><div class="sf-details-item">April 29, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/rutgers-day/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-2232" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/communiversity-artsfest/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Communiversity ArtsFest</h3><div class="sf-details"><div class="sf-details-item">Outreach Event</div><span class="sf-sep">|</span><div class="sf-details-item">April 30, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/communiversity-artsfest/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1268" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/pointe-physical-therapy-taking-care-young-dancers-body/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Physical Therapy – Taking Care of the Young Dancer's Body</h3><div class="sf-details"><div class="sf-details-item">On Pointe</div><span class="sf-sep">|</span><div class="sf-details-item">May 5, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/pointe-physical-therapy-taking-care-young-dancers-body/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1271" class="sf-slide" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/sleeping-beauty/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>The Sleeping Beauty</h3><div class="sf-details"><div class="sf-details-item">Performance</div><span class="sf-sep">|</span><div class="sf-details-item">May 20, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/sleeping-beauty/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                            <li id="slide-1257_clone" class="sf-slide clone" aria-hidden="true" style="width: 1363px; margin-right: 0px; float: left; display: block;"><a href="http://www.arballet.org/event/masters-dance-music-2/" class="sp-right superfeature-half"></a><div class="sp-left superfeature-half"><div class="superfeature-blur"></div><div class="superfeature-blur-cover"></div><div class="sp-content"><div class="sp-content-inner"><h3>Masters of Dance and Music</h3><div class="sf-details"><div class="sf-details-item">Performance</div><span class="sf-sep">|</span><div class="sf-details-item">March 11, 2017</div></div><div class="sp-button cf"><a href="http://www.arballet.org/event/masters-dance-music-2/" class="offset-border">LEARN MORE</a></div></div></div></div></li>
                        </ul>
                    </div>
                    <ol class="flex-control-nav flex-control-paging">
                        <li>
                            <a href="#" class="">1</a>
                        </li>
                        <li>
                            <a href="#" class="">2</a>
                        </li>
                        <li>
                            <a href="#" class="">3</a>
                        </li>
                        <li>
                            <a href="#" class="flex-active">4</a>
                        </li>
                        <li>
                            <a href="#" class="">5</a>
                        </li>
                        <li>
                            <a href="#" class="">6</a>
                        </li>
                        <li>
                            <a href="#" class="">7</a>
                        </li>
                        <li>
                            <a href="#" class="">8</a>
                        </li>
                        <li>
                            <a href="#" class="">9</a>
                        </li>
                    </ol>
                    <ul class="flex-direction-nav">
                        <li class="flex-nav-prev">
                            <a class="flex-prev" href="#">Previous</a>
                        </li>
                        <li class="flex-nav-next">
                            <a class="flex-next" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="threelinks-home">
                <div id="threelinks-home-inner" class="wrap cf">
                    <a href="#" class="blocklink" style="background-image:url(http://www.arballet.org/wp-content/themes/arballet/library/images/blocklinks/blocklink1.jpg);">
                        <div class="titlebar">
                            <div class="titlebar-inner">Performances &amp; Events / Calendar</div>
                        </div>
                        <div class="arrowbox">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>
                    <a href="#" class="blocklink" style="background-image:url(http://www.arballet.org/wp-content/themes/arballet/library/images/blocklinks/blocklink2.jpg);"><div class="titlebar"><div class="titlebar-inner">Princeton Ballet School</div></div><div class="arrowbox"><i class="fa fa-angle-right"></i></div></a>  <a href="http://www.arballet.org/access-enrichment/" class="blocklink" style="background-image:url(http://www.arballet.org/wp-content/themes/arballet/library/images/blocklinks/blocklink3.jpg);"><div class="titlebar"><div class="titlebar-inner">Access &amp; Enrichment</div></div><div class="arrowbox"><i class="fa fa-angle-right"></i></div></a>
                </div>
            </div>
            <div id="homepage-features">
                <div id="homepage-features-inner" class="wrap cf">
                    <div class="homepage-feature-item cf  with-image">
                        <div class="hpfi-col hpfi-col-left"><img src="http://www.arballet.org/wp-content/uploads/2016/12/Enrolling_TileArt.jpg" alt="Now Enrolling for 2017!"></div>
                        <div class="hpfi-col hpfi-col-right">
                            <div class="hpfi-type school">Princeton Ballet School</div>
                            <h3>Now Enrolling for 2017!</h3>
                            <div class="hpfi-desc">
                                <p>Call today and start lessons <span class="aBn" tabindex="0" data-term="goog_1494015146"><span class="aQJ">tomorrow</span></span>! We have classes from age 3 to adult, ranging from ballet to modern.</p>
                            </div>
                            <div class="hpfi-links cf">
                                <a href="#" class="offset-border">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-feature-item cf  with-image">
                        <div class="hpfi-col hpfi-col-left"><img src="http://www.arballet.org/wp-content/uploads/2016/12/2017PeoplesChoice.jpg" alt="Vote For ARB in the People's Choice Awards!"></div>
                        <div class="hpfi-col hpfi-col-right">
                            <div class="hpfi-type event" style="background-color:#6b003a;">Event</div>
                            <h3>Vote For ARB in the People's Choice Awards!</h3>
                            <div class="hpfi-desc">
                                <p>Give us your vote and make us New Jersey’s “Favorite Dance Company” for the third straight year!</p>
                            </div>
                            <div class="hpfi-links cf">
                                <a href="http://jerseyarts.com/peopleschoice/" class="offset-border" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-feature-item cf  with-image">
                        <div class="hpfi-col hpfi-col-left"><img src="http://www.arballet.org/wp-content/uploads/2016/12/WereMoving_Digital-Art-511x289.jpg" alt="We're Moving!"></div>
                        <div class="hpfi-col hpfi-col-right">
                            <div class="hpfi-type event" style="background-color:#6b003a;">Event</div>
                            <h3>We're Moving!</h3>
                            <div class="hpfi-desc">
                                <p>ARB’s New Brunswick administrative offices and studios are moving from 7 Livingston Ave. to 80 Albany St. in March. Learn more about why!</p>
                            </div>
                            <div class="hpfi-links cf">
                                <a href="http://www.arballet.org/wp-content/uploads/2017/01/ARB-PBS-Arts-Complex-Announcement-PR-FINAL.pdf" class="offset-border">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-feature-item cf  with-image">
                        <div class="hpfi-col hpfi-col-left"><img src="http://www.arballet.org/wp-content/uploads/2016/12/SI_HomePageArt.jpg" alt="Princeton Ballet School's Summer Intensive Audition Tour is Underway!"></div>
                        <div class="hpfi-col hpfi-col-right">
                            <div class="hpfi-type school">Princeton Ballet School</div>
                            <h3>Princeton Ballet School's Summer Intensive Audition Tour is Underway!</h3>
                            <div class="hpfi-desc">
                                <p>Click to see when we will be in your neighborhood.</p>
                            </div>
                            <div class="hpfi-links cf">
                                <a href="http://www.arballet.org/summer-program/" class="offset-border">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-feature-item cf  with-image">
                        <div class="hpfi-col hpfi-col-left"><img src="http://www.arballet.org/wp-content/uploads/2016/12/Gala_Digital-Art-2-511x287.jpg" alt="Tickets now on sale for our Gala"></div>
                        <div class="hpfi-col hpfi-col-right">
                            <div class="hpfi-type support" style="background-color:#6b003a;">Support Us</div>
                            <h3>Tickets now on sale for our Gala</h3>
                            <div class="hpfi-desc">
                                <p>The Board of Trustees Cordially Invites You To Pride and Prejudice:&nbsp;<i>An Evening of Timeless Elegance&nbsp;</i>Saturday, The Twenty-Fifth of March at&nbsp;The Heldrich Hotel&nbsp;in&nbsp;New Brunswick.</p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="hpfi-links cf">
                                <a href="#" class="offset-border">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div id="block-news">
                <div id="block-news-inner" class="wrap cf">
                    <h3>News &amp; Media</h3>
                    <div class="news-block-items cf">
                        <div class="news-tile-item"><div class="news-tile-header"><div class="news-cat-label">Press Releases</div><h1 class="h2 entry-title"><a href="http://www.arballet.org/press/moving-80-albany/">ARB Announces New Studio and Administrative Space in New Brunswick</a></h1></div><div class="news-tile-content cf"><div class="entry-date">February 14, 2017</div><div class="news-tile-excerpt">American Repertory Ballet/Princeton Ballet School is pleased to announce that it plans to be a resident member of a new, state-of-the-art performing arts complex in downtown New Brunswick. </div><a href="http://www.arballet.org/press/moving-80-albany/" class="news-index-learnmore"><i class="fa fa-angle-right"></i> LEARN MORE</a></div></div><div class="news-tile-item"><div class="news-tile-header"><div class="news-cat-label">Press Releases</div><h1 class="h2 entry-title"><a href="http://www.arballet.org/press/new-website/">American Repertory Ballet Launches a New Website</a></h1></div><div class="news-tile-content cf"><div class="entry-date">February 14, 2017</div><div class="news-tile-excerpt">The new website features an interactive calendar, streamlined content and larger and more vibrant visuals in a format that is brighter and more readable.</div><a href="http://www.arballet.org/press/new-website/" class="news-index-learnmore"><i class="fa fa-angle-right"></i> LEARN MORE</a></div></div><div class="news-tile-item"><div class="news-tile-header"><div class="news-cat-label">Photos</div><h1 class="h2 entry-title"><a href="http://www.arballet.org/photos/nutcracker-state-theatre/">Nutcracker at the State Theatre</a></h1></div><div class="news-index-photo"><a href="http://www.arballet.org/photos/nutcracker-state-theatre/"><img width="530" height="238" src="http://www.arballet.org/wp-content/uploads/2017/01/Nutcracker-at-the-State-Theatre-feature-530x238.jpg" class="attachment-news-tile-thumb size-news-tile-thumb wp-post-image lazy-loaded" alt="" data-src="http://www.arballet.org/wp-content/uploads/2017/01/Nutcracker-at-the-State-Theatre-feature-530x238.jpg" data-lazy-type="image"></a></div><div class="news-tile-content cf"><div class="entry-date">January 26, 2017</div><div class="news-tile-excerpt">ARB production of the Nutcracker at the State Theater. The scene opens with the annual Christmas Eve Tree Lighting party at the home of the Silverhaus’. </div><a href="http://www.arballet.org/photos/nutcracker-state-theatre/" class="news-index-learnmore"><i class="fa fa-angle-right"></i> LEARN MORE</a></div></div>
                    </div>
                </div>
            </div>*@
            
            <footer class="footer" role="contentinfo" itemscope="" itemtype="http://schema.org/WPFooter">

                <div id="inner-footer" class="wrap cf">

                    <div class="footer-col fc1">
                        <img src="" alt="" id="footer-logo">
                        <h3>Something about Christina Lindsay Header</h3>
                        <p>Something about Christina Lindsay description and more information. A nice succinct statement perhaps</p>
                    </div>

                    <div class="footer-col fc2">
                        @*<div class="footer-email-form">
                            <div role="form" class="wpcf7" id="wpcf7-f268-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="/#wpcf7-f268-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="268">
                                        <input type="hidden" name="_wpcf7_version" value="4.6.1">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f268-o1">
                                        <input type="hidden" name="_wpnonce" value="69c1e6bc62">
                                    </div>
                                    <p><span class="wpcf7-form-control-wrap url-wrap" style="display:none !important; visibility:hidden !important;"><input class="wpcf7-form-control wpcf7-text" type="text" name="url" value="" size="40" tabindex="-1"><span class="hp-message">Please leave this field empty.</span></span><span class="wpcf7-form-control-wrap footer-email"><input type="email" name="footer-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Address"></span><input type="submit" value="SUBSCRIBE" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>*@
                        <div class="footer-socials">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>

                    <div class="footer-col fc3">
                        <a class="footer-locations-link" href="#">LOCATIONS &amp; CONTACT INFO</a>

                        <nav role="navigation">
                            <div class="footer-links cf">
                                <ul id="menu-footer-menu" class="nav footer-nav cf">
                                    <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="#">Performances &amp; Events</a></li>
                                    <li id="menu-item-548" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-548"><a href="#">Company Overview</a></li>
                                    <li id="menu-item-544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544"><a href="#">Access &amp; Enrichment</a></li>
                                    <li id="menu-item-547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="#">School</a></li>
                                    <li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="#">About Us</a></li>
                                    <li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="#">Support Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    
                </div>

            </footer>

        </div>
            
        <link href="~/lib/css/flexslider.css" rel="stylesheet" />
        
        <script type="text/javascript" src="http://www.arballet.org/wp-includes/js/jquery/ui/core.min.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-includes/js/jquery/ui/position.min.js"></script>
        
        <script type="text/javascript">
    
            var a3_lazyload_params = {"apply_images":"1","apply_videos":"1"};
            var a3_lazyload_params = {"apply_images":"1","apply_videos":"1"};
   
        </script>
        <script src="~/lib/jquery/jquery.lazyloadxt.min.js"></script>
        <script src="~/lib/jquery/jquery.lazyloadxt.srcset.min.js"></script>

        <script type="text/javascript">
            
            var a3_lazyload_extend_params = {"edgeY":"0"};
            var a3_lazyload_extend_params = {"edgeY":"0"};
            
        </script>
        <script type="text/javascript" src="//www.arballet.org/wp-content/plugins/a3-lazy-load/assets/js/jquery.lazyloadxt.extend.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-content/themes/arballet/library/js/scripts.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-includes/js/wp-embed.min.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-content/themes/arballet/library/js/jquery.flexslider.js"></script>
        <script type="text/javascript" src="http://www.arballet.org/wp-content/themes/arballet/library/js/home-kickoff.js"></script>
        
    </body>

</html>