@using CommunityWebsite.Models
@model Message

<a class="btn btn-default" href="/Community/Forum" style="margin-bottom:15px;"><i class="fa fa-angle-left"></i> Back To Forum</a>
<div class="post reply new-message">
    <h2 class="headline">New Message</h2>
    <div class="divline"></div>
    <div class="wrap-ut pull-left">
        <div class="userinfo pull-left">
            <div class="avatar">
                <div><i class="fa fa-user-circle-o"></i></div>
                <div class="status red">&nbsp;</div>
                @*@if (ViewBag.Message.Owner.LoggedIn)
                {
                    <div class="status green">&nbsp;</div>
                    if (ViewBag.Message.Owner.AvatarImg != "")
                    {
                        <img src="~/lib/images/head_shot.jpg" alt="avatar">
                    }
                    <div><i class="user-circle-o"></i></div>
                }
                else
                {
                    <div class="status red">&nbsp;</div>
                }*@
            </div>
        </div>
        <div class="posttext pull-left">
            <form action="/Community/Forum" method="post">
                <div class="row">
                    <div class="col-xs-3">
                        <div><span asp-validation-summary="All" class="text-danger"></span></div>
                        <h2>Subject:</h2>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" asp-for="Subject" />
                        <div><span asp-validation-for="Subject"class="text-danger"></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <h2>Topic:</h2>
                    </div>
                    <div class="col-xs-9">
                        <div><span asp-validation-for="Topic" class="text-danger"></span></div>
                        <input type="text" asp-for="Topic" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <h2>Message:</h2>
                    </div>
                    <div class="col-xs-9">
                        <div><span asp-validation-for="Body" class="text-danger"></span></div>
                        <textarea rows="6" asp-for="Body"></textarea>
                    </div>
                </div>
                <input type="hidden" asp-for="Date" value="@DateTime.Now" />
                <input type="hidden" asp-for="Owner" value="@ViewBag.User" />
                <input type="hidden" asp-for="From" value="" />
                <button class="col-xs-3 pull-right submit" type="submit">Post</button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>


