<div class="text-center">
    <iframe src="https://calendar.google.com/calendar/embed?title=Class%2FMentoring%20Scheduling&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=me9via1j5ith7jgs1f4bsglcps%40group.calendar.google.com&amp;color=%236b003a&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>